@import '~Style/index';

#app {
    min-width: 280px;

    .loading-app {
        margin: 10% auto 0 auto;
        text-align: center;

        @include below($mobile) {
            font-size: 1.5rem;
        }
    }
}

.aside {
    background: #222;
    border-bottom: 2px solid #ccc;
    margin-bottom: 0.9em;
    padding: 0.9em;
}

@keyframes animLoading {
    0% {
        content: '.';
    }
    30% {
        content: '..';
    }
    60% {
        content: '...';
    }
    100% {
        content: '.';
    }
}
.loading {
    font-style: italic;
    color: gray;

    &:after {
        animation: animLoading 4s linear infinite;
        content: '';
    }
}

button:disabled,
input:disabled,
textarea:disabled {
    cursor: wait;
    font-style: italic;
}

a,
button {
    svg {
        vertical-align: text-top !important;
    }
}

.container {
    transition: max-width 0.2s ease-in-out;
}
