{
    "env": {
        "test": {
            "presets": [
                "@babel/env",
                "@babel/react"
            ]
        }
    },
    "presets": [
        "@babel/env",
        "@babel/react"
    ],
    "plugins": [
        "@babel/plugin-transform-regenerator",
        "@babel/plugin-transform-runtime"
    ]
}
