$dateWidth: 67px;
$thumbnailMargin: 0.5em;

.eventlist {
    .main-title {
        text-indent: 1.2em;
    }

    .event-entry {
        &:nth-child(n + 2) {
            margin-top: 1em;
        }

        .header {
            align-items: stretch;
            justify-content: space-between;
            display: flex;

            .title {
                display: inline-block;
                flex: 2 0;
                font-weight: bold;
                margin-right: 0.3em;
                overflow: hidden;
                text-align: left;
                text-overflow: ellipsis;
                text-transform: uppercase;
                white-space: nowrap;
            }
            .date {
                color: gray;
                font-size: 0.5em;
                font-style: italic;
            }
        }

        .description {
            max-height: 300px;
            overflow: auto;
            padding-right: 10px;
            position: relative;

            @media (max-width: 480px) {
                font-size: 0.75em;
            }
        }

        .expand {
            left: 0.3em;
            opacity: 0.45;
            position: absolute;
            top: 0.3em;
            transition: opacity 0.2s linear;

            &:hover {
                opacity: 1;
            }
        }

        .thumbnail {
            box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.5);
            border-radius: 20px;
            float: left;
            margin: 0 $thumbnailMargin $thumbnailMargin 0;
            max-height: 250px;
            max-width: 50%;

            @media (max-width: 480px) {
                display: block;
                float: initial;
                margin: 0 auto $thumbnailMargin auto;
                max-height: 150px;
                max-width: 100%;
            }
        }
    }
}
