@mixin notFirst {
    &:nth-child(n + 2) {
        @content;
    }
}

@mixin multiTransition($props, $duration: 0.2s, $transition: linear) {
    $compiled: ();
    @each $prop in $props {
        $compiled: append($compiled, #{$prop $duration $transition});
    }
    transition: join($compiled, (), comma);
}
