.eventlist {
    .aside {
        border-bottom: 2px solid #fff;
        margin: 1.2em 1.2em 0 1.2em;
        padding-bottom: 1.2em;

        .create-button svg {
            margin-right: 0.5em;
        }
    }
}
