@import '~Style/index';

.navbar {
    .navbar-brand .logo {
        background: transparent url('~Asset/favicon.png') top left no-repeat;
        background-size: contain;
        border-radius: 25%;
        display: inline-block;
        height: 30px;
        margin-right: 0.625em;
        vertical-align: top;
        width: 30px;
    }

    .location .disabled {
        font-style: italic;
    }

    .setting {
        .dropdown-menu.show {
            left: auto;
            right: 0;
        }
        .dropdown-item svg {
            &:first-child {
                margin-right: 0.625em;
            }
            &:last-child {
                margin-left: 0.625em;
            }
        }
    }
}
