@import '~Style/index';

@mixin navMargin($margin) {
    svg {
        &:first-child {
            margin-right: $margin;
        }
        &:last-child {
            margin-left: $margin;
        }
    }
}

.navbar {
    .navbar-brand .logo {
        background: transparent url('~Asset/favicon.png') top left no-repeat;
        background-size: contain;
        border-radius: 25%;
        display: inline-block;
        height: 30px;
        margin-right: 0.3em;
        vertical-align: top;
        width: 30px;
    }

    .location {
        .nav-link {
            @include navMargin(0.3em);
        }
    }

    .setting {
        .dropdown-menu.show {
            left: auto;
            right: 0;
        }
        .dropdown-item {
            @include navMargin(0.5em);
        }
    }
}
