@import '~Style/index';

.eventlist .aside-list {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 2;

    .aside-list-block {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }

    .create-button {
        span {
            @include below($sm) {
                display: none;
            }
        }
        svg {
            @include above($sm) {
                margin-right: 0.5em;
            }
        }
    }

    .filter-event {
        margin: 0 0 0 1em;

        .filter-event-input {
            @include multiTransition([flex-grow, padding]);

            @include below($sm) {
                &:not(:focus) {
                    flex-grow: 0;
                    padding: 0;
                }
            }
        }
    }
}
